@{
    ViewData["Title"] = "Home Page";
}
@model Post
<div class="container w-75 mx-auto">
    <h1 class="text-center">Add a new Post</h1>
    <form class="shadow p-3 rounded" action="/post/createPost" method="post">
        <section class="mb-3">
            <label for="Img">Link to Hobby Image</label>
            <input type="text" name="Img" id="">
            <span asp-validation-for="Img"></span>
        </section>
        <section class="mb-3">
            <label for="Title">Title</label>
            <input type="text" name="Title" id="">
            <span asp-validation-for="Title"></span>
        </section>
        <section class="mb-3">
        <label for="Content">Post Content</label>
        <textarea name="Content" id="" cols="30" rows="10"></textarea>
        <span asp-validation-for="Content"></span>
        </section>
        <button class="btn btn-success">Add Post</button>
    </form>
</div>