@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-center">Welcome to HotHobby</h1>
<h2 class="text-center">The network to find your next hobby passion!</h2>

<div class="row">
    @await Html.PartialAsync("_Register")
    @await Html.PartialAsync("_Login")
</div>